.jumbotron{
    background-color: #f4511e;
}

h2{
    text-transform: uppercase;
    color: #303030;
}


.fa-signal{
    color: #f4511e;
    font-size: 200px !important;
}

h2{
    font-size: 30px;
    text-transform: uppercase;
    color:#303030;
    font-weight: 600;
    margin-bottom: 30px;
}

b,strong{
    font-weight: 700px;
}
